.preview {
	border: 1px solid #999999;
	height: 200px;
	padding: 10px;
}

.list {
	min-height: 400px;
	max-height: 1000px;
}

.label {
	background-color: #ffcc99;
}

div.item {
	width: 300px;
}

.item div {
	padding: 2px;
}
